{% extends "GeschkeAdminTranslatorGUIBundle::base_admin.html.twig" %}
{% form_theme form 'GeschkeAdminTranslatorGUIBundle:Form:fields.html.twig' %}


{% block admincontent %}
    <h2>{% trans %}title.messages{% endtrans %}</h2>


    {% for flashMessage in app.session.flashbag.get('message_success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message_error') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}





    <table class="table table-striped ">
        <thead>
        <tr>
            <th colspan="3">
                <div class="row">
                    <div class="col-md-5">{% trans %}headline.message_key{% endtrans %}</div>
                    <div class="col-md-5">{% trans %}headline.message_translation{% endtrans %}</div>
                    <div class="col-md-2">{% trans %}headline.message_action{% endtrans %}</div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody id="messageItems">

        {% for key, message in messages %}


            <tr class="message-item" data-identifier="{{ key|sha1 }}" data-id="{{ message.getId }}">
                <td colspan="3">

                    <div class="row">

                        <div class="col-md-5" id="message_{{ key|sha1 }}">{{ message.getSourceString }}
                        </div>
                        <div class="col-md-5" id="translation_{{ key|sha1 }}">{{ message.getLocaleString }}
                        </div>
                        <div class="col-md-2">
                            <button data-locale="{{ locale }}" data-domain="{{ domain }}" type="button"
                                    class="btn-action-edit btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {% trans %}button.message_edit{% endtrans %}
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    {% if paginator.is_paginated %}
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <ul class="pagination">
                <li {% if paginator.getCurrentPage == 1 %}class="disabled"{% endif %}><a href="{{ paginator.getFirst }}">&laquo;</a></li>
                <li {% if paginator.getCurrentPage == 1 %}class="disabled"{% endif %}><a href="{{ paginator.getPrev }}">&lsaquo;</a></li>
                {% for page in paginator.getPages %}
                    <li {% if page.current %}class="active"{% endif %}><a href="{{ page.url }}">{{ page.number }}</a></li>
                {% endfor %}
                <li {% if paginator.getCurrentPage == paginator.getMaxPage %}class="disabled"{% endif %}><a href="{{ paginator.getNext }}">&rsaquo;</a></li>
                <li {% if paginator.getCurrentPage == paginator.getMaxPage %}class="disabled"{% endif %}><a href="{{ paginator.getLast }}">&raquo;</a></li>
            </ul>
                </div>
            </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {% trans %}nav.back_bundles{% endtrans %} <a class="btn btn-default" href="{{ path('geschke_admin_translator_gui_bundles') }}">{% trans %}url.bundles{% endtrans %}</a>
        </div>
    </div>


    <!-- Modal -->
    <div id="modalTranslate" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="myModalLabel"> {% trans %}title.message_translate{% endtrans %}</h3>
                </div>
                <div class="modal-body" id="modal-edit-body" data-identifier="" data-domain="">
                    <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                    <div class="dropdown" id="chooseTranslationReference">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}button.toggle_translation_reference{% endtrans %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% for key, messageFile in messageFiles %}
                                <li><a class="chooseLocaleReference" data-locale="{{ messageFile.locale }}" href="#">{{ messageFile.locale }}</a></li>
                            {% endfor %}
                        </ul>
                            &nbsp;&nbsp;<span id="localeReference" class="label label-default">{{ localeReference }}</span>
                    </div>
                        <br/>
                        </div>
                    </div>
                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}button.message_save_cancel{% endtrans %}</button>
                    <button class="btn btn-primary do-edit-action">{% trans %}button.message_save_confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var bundle = "{{ bundle }}" || undefined; // maybe later: encapsulate in object or something...
        var locale = "{{ locale }}" || undefined;
        var domain = "{{ domain }}" || undefined;
        var localeReference = "{{ localeReference }}" || undefined;


        var adminUrl = '{{ path('geschke_admin_translator_gui_homepage') }}';
        $(function () {

       
            $('.chooseLocaleReference').on('click', function () {
                localeReference = $(this).attr('data-locale');


                var identifier = $('#modalTranslate').children().find('#modal-edit-body').attr('data-identifier');
                var messageId = ($('#messageItems').children("[data-identifier='" + identifier + "']").attr('data-id'));
                // todo: check existence of identifier and messageId

               // var locale =  $('#form_locale').val();
                //var domain = $(this).attr('data-domain');
                var url = adminUrl + 'language-messageref/';

           
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {bundle: bundle, locale: localeReference, domain: domain, messageId: messageId}
                })
                        .done(function (msg) {
                            if (msg.success == true) {
                                $('#form_message_reference').val(msg.messageTranslation.translation);
                                $('#localeReference').html(localeReference);
                            }
                          //  $('#form_message').val(msg.messageTranslation.message);
                          //  $('#form_message_reference').val(msg.messageTranslationReference.message);
                          //  $('#form_translation').val(msg.messageTranslation.translation);
                        });

            });



            $('.btn-action-edit').click(function () {
                var modal = $('#modalTranslate');
                var messageId = $(this).parents('.message-item').attr('data-id');
                var identifier = $(this).parents('.message-item').attr('data-identifier');

                var locale = $(this).attr('data-locale');
                var domain = $(this).attr('data-domain');
                var url = adminUrl + 'language-translate/';
                $('#form_locale').val(locale);
                $('#form_message').val('');
                $('#form_message_reference').val('');
                $('#form_translation').val('');
                $('#modal-edit-body').attr('data-identifier', identifier);
                modal.modal('show');



                $.ajax({
                    type: "GET",
                    url: url,
                    data: {bundle: bundle, locale: locale, domain: domain, messageId: messageId}
                })
                        .done(function (msg) {
                            $('#form_message').val(msg.messageTranslation.message);
                            $('#form_message_reference').val(msg.messageTranslationReference.message);
                            $('#form_translation').val(msg.messageTranslation.translation);
                        });
            });

            $('.do-edit-action').click(function () {

                var modal = $('#modalTranslate');
                var url = adminUrl + 'language-translate/';
                var messageId = $('#form_message').val();
                var identifier = $('#modal-edit-body').attr('data-identifier');

                var data = {
                    bundle: bundle,
                    locale: $('#form_locale').val(),
                    domain: domain,
                    message: messageId,
                    translation: $('#form_translation').val()
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data
                })
                        .done(function (msg) {

                            if (msg.success == true) {
                                var message = msg.messageTranslation;
                                $('#translation_' + identifier).text(message.translation);
                            }
                            else {
                                $('#message_' + identifier).before('<div id="box-alert_' + identifier + '" class="col-md-12">' +
                                '<div id="alert_' + identifier + '" class="alert alert-danger alert-dismissible fade in">' +
                                '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}button.close{% endtrans %}</span></button>' +
                                '{% trans %}message.translation_save_error{% endtrans %}.</div></div>');
                                setTimeout(function () {
                                    $('#alert_' + identifier).alert('close');
                                }, 2500);

                                $('#alert_' + identifier).on('closed.bs.alert', function () {
                                    $('#box-alert_' + identifier).remove();
                                });
                            }
                        });

                modal.modal('hide');
            });


        });

    </script>


{% endblock %}
