{% extends "GeschkeAdminTranslatorGUIBundle::base_admin.html.twig" %}
{% form_theme form 'GeschkeAdminTranslatorGUIBundle:Form:fields.html.twig' %}


{% block admincontent %}
    <legend>{% trans %}Add new language{% endtrans %}</legend>

    {{ form(form) }}


    <form class="form-horizontal" role="form" action="{{ path('geschke_admin_translator_gui_homepage') }}language-add/" method="post">

<input class="hide" tyoe="hidden" name="bundle" value="{{ bundle }}"/>
    {% for locale, language in languages %}

        <div class="radio">
            <label>
                <input type="radio" name="localeChoose" id="locale_{{ locale }}" value="{{ locale }}">&nbsp; <img src="{{ asset('bundles/geschkeadmintranslatorgui/images/flags/') }}{{ attribute(language,'country-www') }}.gif" alt="locale: {{ locale }}" /> {{ locale }} {{ attribute(language,'lang-native') }}
            </label>
        </div>
    {% endfor %}

        <button type="submit" class="btn btn-primary">{% trans %}Create new language file{% endtrans %}</button>

    </form>
{% endblock %}