{% extends "GeschkeAdminTranslatorGUIBundle::base_admin.html.twig" %}
{% form_theme form_copy 'GeschkeAdminTranslatorGUIBundle:Form:fields.html.twig' %}

{% block admincontent %}
    <h2>{% trans %}title.list_bundles{% endtrans %}</h2>

    {% for flashMessage in app.session.flashbag.get('message_success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message_error') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message_warning') %}

        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <table class="table table-striped ">
        <thead>
        <tr>
            <th colspan="2">
                <div class="row">

                    <div class="col-md-4">
                {% trans %}headline.bundle{% endtrans %}
                        </div>
                    <div class="col-md-8">
                       {% trans %}headline.action{% endtrans %}
                    </div>
                    </div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for bundle in bundles %}

            <tr class="bundle-item" data-name="{{ bundle.name }}">
                <td colspan="2">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="bundle-name" id="bundle_{{ bundle.name }}"><strong>{{ bundle.name }}</strong></div>


                        </div>
                        <div class="col-md-8">
                            <p>
                                <button class="btn-action-language-add btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}button.add_new_language{% endtrans %}
                                </button>
                            </p>

                            {% if bundle.messageFiles|length %}
                            <div class="row bg-primary">
                                <div class="col-md-5">
                                    {% trans %}headline.bundle_language{% endtrans %}
                                </div>
                                <div class="col-md-2">
                                    {% trans %}headline.bundle_domain{% endtrans %}
                                </div>
                                <div class="col-md-5">
                                    {% trans %}headline.bundle_actions{% endtrans %}
                                </div>
                            </div>
                                <br/>
                            {% endif %}
                           {% for messageFile in bundle.messageFiles if messageFile|length %}


                                <div class="row">
                                    <div class="col-md-5">
                                        <p>
                                        <img src="{{ asset('bundles/geschkeadmintranslatorgui/images/flags/') }}{% if messageFile.additional is defined %}{{ messageFile.additional['country-www'] }}{% elseif messageFile.unknown is defined %}unknown{%  else %}{{ messageFile.locale }}{% endif %}.gif"
                                             alt="{{ messageFile.locale }}"/>

                                        &nbsp;
                                        {% if messageFile.additional is defined %}{{ messageFile.additional['lang-native'] }}{% endif %}
                                        &nbsp;
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        {{ messageFile.domain }}
                                    </div>
                                    <div class="col-md-5">
                                        <p>
                                        <button data-domain="{{ messageFile.domain }}" data-locale="{{ messageFile.locale }}" type="button"
                                                class="btn-action-edit btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-pencil"
                                                  aria-hidden="true"></span> {% trans %}button.languagefile_edit{% endtrans %}
                                        </button>
                                        <button data-domain="{{ messageFile.domain }}" data-locale="{{ messageFile.locale }}" type="button"
                                                class="btn-action-rescan btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-refresh"
                                                  aria-hidden="true"></span> {% trans %}button.languagefile_rescan{% endtrans %}
                                        </button>
                                        <button data-domain="{{ messageFile.domain }}" data-locale="{{ messageFile.locale }}" type="button"
                                                          class="btn-action-copy btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans %}button.languagefile_copy{% endtrans %}
                                            </button>
                                        <button data-domain="{{ messageFile.domain }}" data-locale="{{ messageFile.locale }}" type="button"
                                                class="btn-action-delete btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}button.languagefile_delete{% endtrans %}
                                        </button>
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                {% trans %}message.languagefile_not_found{% endtrans %}
                            {% endfor %}


                        </div>
                    </div>

                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>




    <!-- Modal -->
    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="myModalLabel"> {% trans %}title.languagefile_delete{% endtrans %}</h3>
                </div>
                <div class="modal-body">
                    <p> {% trans %}message.languagefile_delete_warning{% endtrans %}<span id="deleteLocale"></span></p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}button.languagefile_delete_cancel{% endtrans %}</button>
                    <button class="btn btn-primary do-delete-action">{% trans %}button.languagefile_delete_confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal js-loading-bar">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{% trans %}title.rescan_progress{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div class="rescan-success"><p>{% trans %}message.rescan_success{% endtrans %}</p>
                    </div>
                    <div class="rescan-error"><p>{% trans %}message.rescan_error{% endtrans %}</p>
                    </div>
                    <div class="rescan-loading" style="text-align: center;"><img
                                src="{{ asset('bundles/geschkeadmintranslatorgui/images/ajax-loader.gif') }}"
                                alt="{% trans %}message.loader{% endtrans %}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="rescan-ready">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}button.close{% endtrans %}</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <div id="modalCopy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="myModalLabel"> {% trans %}title.languagefile_copy{% endtrans %}</h3>
                </div>
                <div class="modal-body" id="modal-copy-body" data-bundle="" data-domain="" data-locale="">

                    <div id="alertCopyError" style="display: block;"></div>

                    <div style="height: 360px; overflow-y: scroll; overflow-x: hidden;">
                    {{ form(form_copy, {'attr': {'novalidate': 'novalidate'}}) }}
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}button.languagefile_copy_cancel{% endtrans %}</button>
                    <button class="btn btn-primary do-copy-action">{% trans %}button.languagefile_copy_confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var bundle = undefined; // maybe later: encapsulate in object or something...
        var locale = undefined;
        var domain = undefined;
        var locale_copy_alert_message = '{% trans %}message.copy_alert_message{% endtrans %}';
        var button_close = '{% trans %}button.close{% endtrans %}';
        
        var adminUrl = '{{ path('geschke_admin_translator_gui_homepage') }}';
        
    </script>


{% endblock %}


{% block javascriptCommands %}
<script src="{{ asset('bundles/geschkeadmintranslatorgui/js/bundles_list.js') }}"></script>
{% endblock %}
